@import './global.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 120px;
}

.btn.ghost {
  background: none;
  border: none;
  color: var(--color-accent);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
  margin: 0 auto;
  display: block;
}

/* Responsive */
@media (max-width: 600px) {
  .nav a {
    margin-left: 12px;
    font-size: 0.9rem;
  }
  .services-grid,
  .books-grid {
    grid-template-columns: 1fr;
  }
  .home-container{
    padding-top: 60px; 
  }
}
